html, body {
    background-color: #F5F5F5;
    color: #333333;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
}

hr {
    border-top: 1px solid grey;
}

.well {
    background-color: white;
}

.card {
    background-color: white;
    width: 100%;
    margin: 15px 0;
}

.body-area {
    padding: 10px;
    background-color: gray;
    color: white;
    height: 230px;
}

.body-area > p > a {
    color: lightGray;
}

.body-area > p > a:hover {
    color: white;
    text-decoration: none;
}

iframe {
    width: 100%;
    height: 100%;
}

.navbar {
    border-radius: 0;
    border: none;
    font-weight: lighter;
}

.navbar-right {
}

.navbar-inverse .navbar-brand {
    margin-top: 5px;
    font-weight: bold;
    font-size: 1.25em;
    color: white;
}

.navbar-inverse .navbar-nav > .active > a {
    background-color: transparent;
}

.navbar-inverse .navbar-nav > .active > a:focus {
    background-color: transparent;
}

.navbar-inverse .navbar-nav > .active > a:hover {
    background-color: transparent;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.profile-pic {
    background-image: url("http://www.tashows.com/images/Tashows-02.jpg");
    background-size: cover;
    margin: 0 auto;
    height: 200px;
    width: 200px;
    border-radius: 100px;
}

.btn-i {
    margin: 0 5px;
    color: gray;
    font-size: 3em;
    padding: 0;
}

.btn-fb:hover {
    color: #3b5998;
}

.btn-li:hover {
    color: #0077B5;
}

.btn-gh:hover {
    color: #4078c0;
}

.btn-tw:hover {
    color: #55acee;
}


.fb-fi {
    display: inline-block;
    border-radius: 20px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    margin-bottom: 7px;
}

.fb-fi:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.review-wrap {
    padding: 10px;
}

.review-author {
    text-align: right;
}

.fa-quote-left {
    position: absolute;
    top: -10px;
    left: 10px;
    opacity: 0.3;
}